version: '3.8'

services:
  elasticsearch:
    image: elasticsearch:8.11.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data
    networks:
      - siem_net

  kibana:
    image: kibana:8.11.0
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      # ELASTICSEARCH_SSL_VERIFICATIONMODE=none # Not needed for HTTP
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    networks:
      - siem_net

volumes:
  es_data:

networks:
  siem_net:
    driver: bridge
