anyio==4.12.1
asgiref==3.11.0
certifi==2026.1.4
Django==4.2.27
elastic-transport==8.17.1
elasticsearch==8.19.3
idna==3.11
python-dateutil==2.9.0.post0
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.3
opensearch-py
